# Hands-on with PyData: How to Build a Minimal Recommendation Engine

## Welcome!

- About Unata
    - What we do and what we use Python for (everything!)
- Environment + data files check
    - Instructions to set up a local environment and links to download handout and data files: [http://unatainc.github.io/pycon2015/](http://unatainc.github.io/pycon2015/)

## About this tutorial

### References
Credit where credit is due. Please check the references at the bottom of this document.

### Dataset
MovieLens from GroupLens Research: [grouplens.org](http://www.grouplens.org/)

The MovieLens 1M data set contains 1 million ratings collected from 6000 users
on 4000 movies.

### What this tutorial is

The goal of this tutorial is to provide you with a hands-on overview of two of
the main libraries from the scientific and data analysis communities. We're going to
use:

- numpy -- [numpy.org](http://www.numpy.org)
- pandas -- [pandas.pydata.org](http://pandas.pydata.org/)

### What this tutorial is not

- An exhaustive overview of the recommendation literature
- A set of recipes that will win you the next Netflix/Kaggle/etc challenge.

## Roadmap

What exactly are we going to do? Here's a high-level overview:

- quick introduction to the recommendation problem (theory)
- learn about Pandas Series and DataFrames (practice) 
- known solutions & challenges to the recommendation problem (theory) 
- load data, setup evaluation functions, test dummy solution (practice) 
- minimal reco engine v1.0 (practice) 
- more formulas! (theory) 
- pandas aggregation & minimal reco engine v1.1 (practice) 
- challenge (practice)

## The Recommendation Problem

Recommenders have been around since at least 1992. Today we see different flavours of recommenders, deployed across different verticals: 

- Amazon
- Netflix
- Facebook
- Last.fm.

What exactly do they do?

### Definitions from the literature

- *In a typical recommender system people provide recommendations as inputs, which
the system then aggregates and directs to appropriate recipients.* -- Resnick
and Varian, 1997

- *Collaborative filtering simply means that people collaborate to help one
another perform filtering by recording their reactions to documents they read.*
-- Goldberg et al, 1992

- *In its most common formulation, the recommendation problem is reduced to the
problem of estimating ratings for the items that have not been seen by a
user. Intuitively, this estimation is usually based on the ratings given by this
user to other items and on some other information [...] Once we can estimate
ratings for the yet unrated items, we can recommend to the user the item(s) with
the highest estimated rating(s).* -- Adomavicius and Tuzhilin, 2005

- *Driven by computer algorithms, recommenders help consumers
by selecting products they will probably like and might buy
based on their browsing, searches, purchases, and preferences.* -- Konstan and Riedl, 2012

### Notation

- $U$ is the set of users in our domain. Its size is $|U|$.
- $I$ is the set of items in our domain. Its size is $|I|$.
- $I(u)$ is the set of items that user $u$ has rated.
- $-I(u)$ is the complement of $I(u)$ i.e., the set of items not yet seen by user $u$.
- $U(i)$ is the set of users that have rated item $i$.
- $-U(i)$ is the complement of $U(i)$.
- $S(u,i)$ is a function that measures the utility of item $i$ for user $u$.

### Goal of a recommendation system

$
i^{*} = argmax_{i \in -I(u)} S(u,i), \forall{u \in U}
$

### Problem statement

The recommendation problem in its most basic form is quite simple to define:

```
|-------------------+-----+-----+-----+-----+-----|
| user_id, movie_id | m_1 | m_2 | m_3 | m_4 | m_5 |
|-------------------+-----+-----+-----+-----+-----|
| u_1               | ?   | ?   | 4   | ?   | 1   |
|-------------------+-----+-----+-----+-----+-----|
| u_2               | 3   | ?   | ?   | 2   | 2   |
|-------------------+-----+-----+-----+-----+-----|
| u_3               | 3   | ?   | ?   | ?   | ?   |
|-------------------+-----+-----+-----+-----+-----|
| u_4               | ?   | 1   | 2   | 1   | 1   |
|-------------------+-----+-----+-----+-----+-----|
| u_5               | ?   | ?   | ?   | ?   | ?   |
|-------------------+-----+-----+-----+-----+-----|
| u_6               | 2   | ?   | 2   | ?   | ?   |
|-------------------+-----+-----+-----+-----+-----|
| u_7               | ?   | ?   | ?   | ?   | ?   |
|-------------------+-----+-----+-----+-----+-----|
| u_8               | 3   | 1   | 5   | ?   | ?   |
|-------------------+-----+-----+-----+-----+-----|
| u_9               | ?   | ?   | ?   | ?   | 2   |
|-------------------+-----+-----+-----+-----+-----|
```

*Given a partially filled matrix of ratings ($|U|x|I|$), estimate the missing values.*

## pandas: Python Data Analysis Library

### What is it?

*Python has long been great for data munging and preparation, but less so for
data analysis and modeling. pandas helps fill this gap, enabling you to carry
out your entire data analysis workflow in Python without having to switch to a
more domain specific language like R.*

The heart of pandas is the DataFrame object for data manipulation. It features:

- a powerful index object
- data alignment
- handling of missing data
- aggregation with groupby
- data manipuation via reshape, pivot, slice, merge, join

In [1]:
import numpy as np
import pandas as pd

# set some print options
np.set_printoptions(precision=4)
np.set_printoptions(threshold=5)
np.set_printoptions(suppress=True)
pd.set_option('precision', 3, 'notebook_repr_html', True, )

# init random gen
np.random.seed(2)

### Series: labelled arrays

The pandas Series is kind of like an ndarray (used to actually be a subclass of it) that supports more meaninful indices.

#### Let's look at some creation examples for Series

In [2]:
ser = pd.Series([2.0, 1.0, 5.0, 0.97, 3.0, 10.0, 0.06, 8.0])
ser

0     2.00
1     1.00
2     5.00
3     0.97
4     3.00
5    10.00
6     0.06
7     8.00
dtype: float64

In [3]:
values = np.array([2.0, 1.0, 5.0, 0.97, 3.0, 10.0, 0.0599, 8.0])
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
ser = pd.Series(data=values, index=labels)
ser

A     2.00
B     1.00
C     5.00
D     0.97
E     3.00
F    10.00
G     0.06
H     8.00
dtype: float64

In [4]:
movie_rating = {
    'age': 1,
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'occupation': 10,
    'rating': 5,
    'timestamp': 978300760,
    'title': "One Flew Over the Cuckoo's Nest (1975)",
    'user_id': 1,
    'zip': '48067'
    }
ser = pd.Series(movie_rating)
ser

age                                                1
gender                                             F
genres                                         Drama
movie_id                                        1193
occupation                                        10
rating                                             5
timestamp                                  978300760
title         One Flew Over the Cuckoo's Nest (1975)
user_id                                            1
zip                                            48067
dtype: object

In [5]:
ser.index

Index(['age', 'gender', 'genres', 'movie_id', 'occupation', 'rating',
       'timestamp', 'title', 'user_id', 'zip'],
      dtype='object')

In [6]:
ser.values

array([1, 'F', 'Drama', ..., "One Flew Over the Cuckoo's Nest (1975)", 1,
       '48067'], dtype=object)

#### Series indexing

In [7]:
ser.loc['gender']

'F'

In [8]:
ser.loc[['gender', 'zip']]

gender        F
zip       48067
dtype: object

In [9]:
booleans = np.array([False, False, False, False, False, True, False, False, False, False])
booleans

array([False, False, False, ..., False, False, False])

In [10]:
ser.loc[booleans]

rating    5
dtype: object

In [11]:
ser.iloc[1]

'F'

In [12]:
ser.iloc[[1,2]]

gender        F
genres    Drama
dtype: object

In [13]:
ser.ix['gender']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'F'

In [14]:
ser.ix[1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'F'

In [15]:
ser['gender']

'F'

In [16]:
ser[[1,2]]

gender        F
genres    Drama
dtype: object

#### Operations between Series with different index objects

In [17]:
ser_1 = pd.Series(data=[1,3,4], index=['A', 'B', 'C'])
ser_2 = pd.Series(data=[5,5,5], index=['A', 'G', 'C'])
ser_1 + ser_2

A    6.0
B    NaN
C    9.0
G    NaN
dtype: float64

Automatic upcasting when performing operations between Series with different dtypes:

In [18]:
ser_1 = pd.Series(data=[1,3,4], index=['A', 'B', 'C'], dtype='int')
ser_2 = pd.Series(data=[5,5,5], index=['A', 'G', 'C'], dtype='float')
ser_1 + ser_2

A    6.0
B    NaN
C    9.0
G    NaN
dtype: float64

### DataFrame

The DataFrame is the 2-dimensional version of a Series.

#### Let's look at some creation examples for DataFrame

You can think of it as a spreadsheet whose columns are Series objects.

In [19]:
# build from a dict of equal-length lists or ndarrays
pd.DataFrame({'col_1': [0.12, 7, 45, 10], 'col_2': [0.9, 9, 34, 11]})

   col_1  col_2
0   0.12    0.9
1   7.00    9.0
2  45.00   34.0
3  10.00   11.0

You can explicitly set the column names and index values as well.

In [20]:
pd.DataFrame(data={'col_1': [0.12, 7, 45, 10], 'col_2': [0.9, 9, 34, 11]},
             columns=['col_1', 'col_2', 'col_3'])

   col_1  col_2 col_3
0   0.12    0.9   NaN
1   7.00    9.0   NaN
2  45.00   34.0   NaN
3  10.00   11.0   NaN

In [21]:
pd.DataFrame(data={'col_1': [0.12, 7, 45, 10], 'col_2': [0.9, 9, 34, 11]},
             columns=['col_1', 'col_2', 'col_3'],
             index=['obs1', 'obs2', 'obs3', 'obs4'])

      col_1  col_2 col_3
obs1   0.12    0.9   NaN
obs2   7.00    9.0   NaN
obs3  45.00   34.0   NaN
obs4  10.00   11.0   NaN

You can also think of it as a dictionary of Series objects.

In [22]:
movie_rating = {
    'gender': 'F',
    'genres': 'Drama',
    'movie_id': 1193,
    'rating': 5,
    'timestamp': 978300760,
    'user_id': 1,
    }
ser_1 = pd.Series(movie_rating)
ser_2 = pd.Series(movie_rating)
df = pd.DataFrame({'r_1': ser_1, 'r_2': ser_2})
df.columns.name = 'rating_events'
df.index.name = 'rating_data'
df

rating_events        r_1        r_2
rating_data
gender                 F          F
genres             Drama      Drama
movie_id            1193       1193
rating                 5          5
timestamp      978300760  978300760
user_id                1          1

In [23]:
df = df.T
df

rating_data   gender genres movie_id rating  timestamp user_id
rating_events
r_1                F  Drama     1193      5  978300760       1
r_2                F  Drama     1193      5  978300760       1

In [24]:
df.columns

Index(['gender', 'genres', 'movie_id', 'rating', 'timestamp', 'user_id'], dtype='object', name='rating_data')

In [25]:
df.index

Index(['r_1', 'r_2'], dtype='object', name='rating_events')

In [26]:
df.values

array([['F', 'Drama', 1193, 5, 978300760, 1],
       ['F', 'Drama', 1193, 5, 978300760, 1]], dtype=object)

#### Adding/Deleting entries

In [27]:
df = pd.DataFrame({'r_1': ser_1, 'r_2': ser_2})
df.drop('genres', axis=0)

                   r_1        r_2
rating_data
gender               F          F
movie_id          1193       1193
rating               5          5
timestamp    978300760  978300760
user_id              1          1

In [28]:
df.drop('r_1', axis=1)

                   r_2
rating_data
gender               F
genres           Drama
movie_id          1193
rating               5
timestamp    978300760
user_id              1

Add a new column using dictionary notation:

In [29]:
# careful with the order here
df['r_3'] = ['F', 'Drama', 1193, 5, 978300760, 1]
df

                   r_1        r_2        r_3
rating_data
gender               F          F          F
genres           Drama      Drama      Drama
movie_id          1193       1193       1193
rating               5          5          5
timestamp    978300760  978300760  978300760
user_id              1          1          1

In [30]:
df['r_4'] = pd.Series({'gender': 'M'})
df

                   r_1        r_2        r_3  r_4
rating_data
gender               F          F          F    M
genres           Drama      Drama      Drama  NaN
movie_id          1193       1193       1193  NaN
rating               5          5          5  NaN
timestamp    978300760  978300760  978300760  NaN
user_id              1          1          1  NaN

--> Go to "Pandas questions: Series and DataFrames"

#### DataFrame indexing

You can index into a column using it's label, or with dot notation

In [31]:
df = pd.DataFrame(data={'col_1': [0.12, 7, 45, 10], 'col_2': [0.9, 9, 34, 11]},
                  columns=['col_1', 'col_2', 'col_3'],
                  index=['obs1', 'obs2', 'obs3', 'obs4'])
df

      col_1  col_2 col_3
obs1   0.12    0.9   NaN
obs2   7.00    9.0   NaN
obs3  45.00   34.0   NaN
obs4  10.00   11.0   NaN

In [32]:
df['col_1']

obs1     0.12
obs2     7.00
obs3    45.00
obs4    10.00
Name: col_1, dtype: float64

In [33]:
df.col_1

obs1     0.12
obs2     7.00
obs3    45.00
obs4    10.00
Name: col_1, dtype: float64

You can also use multiple columns to select a subset of them:

In [34]:
df[['col_2', 'col_1']]

      col_2  col_1
obs1    0.9   0.12
obs2    9.0   7.00
obs3   34.0  45.00
obs4   11.0  10.00

DataFrame has similar .loc and .iloc methods:

In [35]:
df.loc['obs1', 'col_1']

0.12

In [36]:
df.iloc[0, 0]

0.12

The .ix method gives you the most flexibility to index into certain rows, or
even rows and columns:

In [37]:
df.ix['obs3']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

col_1     45
col_2     34
col_3    NaN
Name: obs3, dtype: object

In [38]:
df.ix[0]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

col_1    0.12
col_2     0.9
col_3     NaN
Name: obs1, dtype: object

In [39]:
df.ix[:2]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

      col_1  col_2 col_3
obs1   0.12    0.9   NaN
obs2   7.00    9.0   NaN

In [40]:
df.ix[:2, 'col_2']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

obs1    0.9
obs2    9.0
Name: col_2, dtype: float64

In [41]:
df.ix[:2, ['col_1', 'col_2']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

      col_1  col_2
obs1   0.12    0.9
obs2   7.00    9.0

--> Go to "Pandas questions: Indexing"

## The MovieLens dataset: loading and first look

Loading of the MovieLens dataset is based on the intro chapter of 'Python
for Data Analysis".

The MovieLens data is spread across three files. We'll load each file using the `pd.read_table` function:

In [143]:
users = pd.read_table('data/ml-1m/users.dat',
                      sep='::', header=None, 
                      names=['user_id', 'gender', 'age', 'occupation', 'zip'])

ratings = pd.read_table('data/ml-1m/ratings.dat',
                        sep='::', header=None, 
                        names=['user_id', 'movie_id', 'rating', 'timestamp'])

movies = pd.read_table('data/ml-1m/movies.dat',
                       sep='::', header=None, 
                       names=['movie_id', 'title', 'genres'])

# show how one of them looks
ratings.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: read_table is deprecated, use read_csv instead.
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: read_table is deprecated, use read_csv instead.
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # This is added back by InteractiveShellApp.init_path()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

Using `pd.merge` we get it all into  one big DataFrame.

In [43]:
movielens = pd.merge(pd.merge(ratings, users), movies)
movielens.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

## Challenge prep: evaluation mechanism

Before we start building our minimal reco engine we need a basic mechanism to evaluate the performance of our engine. For that we will:

- split the data into train and test sets
- introduce a performance criterion
- write an `evaluate` function.

### Evaluation: split ratings into train and test sets

This subsection will generate training and testing sets for evaluation. You do
not need to understand every single line of code, just the general gist:

- take a smaller sample from the full 1M dataset for speed reasons;
- make sure that we have at least 2 ratings per user in that subset;
- split the result into training and testing sets.

In [44]:
# let's work with a smaller subset for speed reasons
movielens = movielens.iloc[np.random.choice(movielens.index, size=10000, replace=False)]
movielens.shape
movielens.user_id.nunique()
movielens.movie_id.nunique()

2275

In [45]:
user_ids_larger_1 = pd.value_counts(movielens.user_id, sort=False) > 1
user_ids_larger_1 = user_ids_larger_1[user_ids_larger_1].index

movielens = movielens.select(lambda l: movielens.loc[l, 'user_id'] in user_ids_larger_1)
movielens.shape
assert np.all(movielens.user_id.value_counts() > 1)
movielens.shape

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: 'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement
  after removing the cwd from sys.path.

(8442, 10)

We now generate train and test subsets by marking 20% of each users's ratings, using groupby and apply.

In [46]:
def assign_to_set(df):
    sampled_ids = np.random.choice(df.index,
                                   size=np.int64(np.ceil(df.index.size * 0.2)),
                                   replace=False)
    df.ix[sampled_ids, 'for_testing'] = True
    return df

movielens['for_testing'] = False
grouped = movielens.groupby('user_id', group_keys=False).apply(assign_to_set)
movielens_train = movielens[grouped.for_testing == False]
movielens_test = movielens[grouped.for_testing == True]
print(movielens.shape)
print(movielens_train.shape)
print(movielens_test.shape)
assert len(movielens_train.index & movielens_test.index) == 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

(8442, 11)
(5801, 11)
(2641, 11)

Store these two sets in text files:

In [47]:
movielens_train.to_csv('data/my_generated_movielens_train.csv')
movielens_test.to_csv('data/my_generated_movielens_test.csv')

NameError: name 'movielens_train' is not defined

### Evaluation: performance criterion

Performance evaluation of recommendation systems is an entire topic all in
itself. Some of the options include:

- RMSE: $\sqrt{\frac{\sum(\hat y - y)^2}{n}}$
- Precision / Recall / F-scores
- ROC curves
- Cost curves

In [47]:
def compute_rmse(y_pred, y_true):
    """ Compute Root Mean Squared Error. """
    
    return np.sqrt(np.mean(np.power(y_pred - y_true, 2)))

### Evaluation: the 'evaluate' method

In [48]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    real = movielens_test.rating.values
    return compute_rmse(estimated, real)

In [49]:
def my_estimate_function(user_id, movie_id):
    return 3

In [50]:
print('RMSE for my estimate function: %s' % evaluate(my_estimate_function))

RMSE for my estimate function: 1.2571642479137273

--> Go to "Mini Challenge prep: data loading & evaluation functions"

## Well-known Solutions to the Recommendation Problem

### Content-based filtering

*Recommend based on the user's rating history.* 

Generic expression (notice how this is kind of a 'row-based' approach):

$$ 
\newcommand{\aggr}{\mathop{\rm aggr}\nolimits}
r_{u,i} = \aggr_{i' \in I(u)} [r_{u,i'}]
$$


A simple example using the mean as an aggregation function:

$$ 
r_{u,i} = \bar r_u = \frac{\sum_{i' \in I(u)} r_{u,i'}}{|I(u)|} 
$$

### Collaborative filtering

*Recommend based on other user's rating histories.* 

Generic expression (notice how this is kind of a 'col-based' approach):

$$ 
\newcommand{\aggr}{\mathop{\rm aggr}\nolimits}
r_{u,i} = \aggr_{u' \in U(i)} [r_{u',i}] 
$$

A simple example using the mean as an aggregation function:

$$ 
r_{u,i} = \bar r_i = \frac{\sum_{u' \in U(i)} r_{u',i}}{|U(i)|} 
$$

### Hybrid solutions

The literature has lots of examples of systems that try to combine the strengths
of the two main approaches. This can be done in a number of ways:

- Combine the predictions of a content-based system and a collaborative system.
- Incorporate content-based techniques into a collaborative approach.
- Incorporarte collaborative techniques into a content-based approach.
- Unifying model.

### Challenges

#### Availability of item metadata

Content-based techniques are limited by the amount of metadata that is available
to describe an item. There are domains in which feature extraction methods are
expensive or time consuming, e.g., processing multimedia data such as graphics,
audio/video streams. In the context of grocery items for example, it's often the
case that item information is only partial or completely missing. Examples
include:

- Ingredients
- Nutrition facts
- Brand
- Description
- County of origin

#### New user problem

A user has to have rated a sufficient number of items before a recommender
system can have a good idea of what their preferences are. In a content-based
system, the aggregation function needs ratings to aggregate.

#### New item problem

Collaborative filters rely on an item being rated by many users to compute
aggregates of those ratings. Think of this as the exact counterpart of the new
user problem for content-based systems.

#### Data sparsity

When looking at the more general versions of content-based and collaborative
systems, the success of the recommender system depends on the availability of a
critical mass of user/item iteractions. We get a first glance at the data
sparsity problem by quantifying the ratio of existing ratings vs $|U|x|I|$. A
highly sparse matrix of interactions makes it difficult to compute similarities
between users and items. As an example, for a user whose tastes are unusual
compared to the rest of the population, there will not be any other users who
are particularly similar, leading to poor recommendations.

## Minimal reco engine v1.0: simple mean ratings

### Content-based filtering using mean ratings

With this table-like representation of the ratings data, a basic content-based
filter becomes a one-liner function.

In [51]:
def content_mean(user_id, movie_id):
    """ Simple content-filtering based on mean ratings. """
    
    user_condition = movielens_train.user_id == user_id
    return movielens_train.loc[user_condition, 'rating'].mean()

print('RMSE for estimate1: %s' % evaluate(content_mean))

RMSE for estimate1: 1.2684467037493927

In [52]:
movielens_train.loc[movielens_train.user_id == 5567, 'rating'].mean()

3.25

In [53]:
movielens_test.loc[movielens_test.user_id == 5567, 'rating']#.mean()

446064    4
772374    4
Name: rating, dtype: int64

--> Go to "Reco systems questions: Minimal reco engine v1.0"

## More formulas!

Here are some basic ways in which we can generalize the simple mean-based algorithms we discussed before.

### Generalizations of the aggregation function for content-based filtering: incorporating similarities

Possibly incorporating metadata about items, which makes the term 'content' make more sense now.

$$ r_{u,i} = k \sum_{i' \in I(u)} sim(i, i') \; r_{u,i'} $$

$$ r_{u,i} = \bar r_u + k \sum_{i' \in I(u)} sim(i, i') \; (r_{u,i'} - \bar r_u) $$

Here $k$ is a normalizing factor,

$$ k = \frac{1}{\sum_{i' \in I(u)} |sim(i,i')|} $$

and $\bar r_u$ is the average rating of user u:

$$ \bar r_u = \frac{\sum_{i \in I(u)} r_{u,i}}{|I(u)|} $$

### Generalizations of the aggregation function for collaborative filtering: incorporating similarities

Possibly incorporating metadata about users.

$$ r_{u,i} = k \sum_{u' \in U(i)} sim(u, u') \; r_{u',i} $$

$$ r_{u,i} = \bar r_u + k \sum_{u' \in U(i)} sim(u, u') \; (r_{u',i} - \bar r_u) $$

Here $k$ is a normalizing factor,

$$ k = \frac{1}{\sum_{u' \in U(i)} |sim(u,u')|} $$

and $\bar r_u$ is the average rating of user u:

$$ \bar r_u = \frac{\sum_{i \in I(u)} r_{u,i}}{|I(u)|} $$

## Aggregation in pandas

### Groupby

The idea of groupby is that of *split-apply-combine*:

- split data in an object according to a given key;
- apply a function to each subset;
- combine results into a new object.

In [54]:
movielens_train.groupby('gender')['rating'].mean()

gender
F    3.588
M    3.507
Name: rating, dtype: float64

In [55]:
movielens_train.groupby(['gender', 'age'])['rating'].mean()

gender  age
F       1      3.605
        18     3.429
        25     3.609
        35     3.648
        45     3.537
        50     3.671
        56     4.069
M       1      3.384
        18     3.438
        25     3.430
        35     3.614
        45     3.555
        50     3.762
        56     3.704
Name: rating, dtype: float64

### Pivoting

Let's start with a simple pivoting example that does not involve any
aggregation. We can extract a ratings matrix as follows:

In [56]:
# transform the ratings frame into a ratings matrix
ratings_mtx_df = movielens_train.pivot_table(values='rating',
                                             index='user_id',
                                             columns='movie_id')
ratings_mtx_df.head(3)

movie_id,1,2,3,4,5,6,7,10,11,14,...,3930,3932,3935,3938,3943,3945,3948,3949,3950,3952
user_id,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# grab another subsquare of the ratings matrix to actually diplay some real entries!
ratings_mtx_df.loc[11:16, 1196:1200]

movie_id  1196  1197  1198  1199  1200
user_id
11         NaN   NaN   NaN   NaN   NaN
13         5.0   NaN   NaN   NaN   NaN
15         NaN   NaN   NaN   NaN   NaN

The more interesting case with `pivot_table` is as an interface to
`groupby`:

In [128]:
pivot = movielens_train.pivot_table(values='rating', index='user_id', columns='occupation', aggfunc='mean')
pivot.head()

occupation,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
user_id,,,,,,,,,,,,,,,,,,,,,
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

You can pass in a list of functions, such as `[np.mean, np.std]`, to compute mean ratings and a measure of disagreement.

In [59]:
movielens_train.pivot_table(values='rating', index='age', columns='gender', aggfunc=[np.mean, np.std])

         mean           std
gender      F      M      F      M
age
1       3.605  3.384  1.285  1.303
18      3.429  3.438  1.200  1.149
25      3.609  3.430  1.081  1.142
35      3.648  3.614  1.019  1.039
45      3.537  3.555  0.998  1.063
50      3.671  3.762  1.138  1.037
56      4.069  3.704  0.961  1.079

## Minimal reco engine v1.1: implicit sim functions

We're going to need a user index from the users portion of the dataset. This will allow us to retrieve information given a specific user_id in a more convenient way:

In [144]:
user_info = users.set_index('user_id')
#user_info.occupation.isnull().value_counts()
user_info.head(5)

        gender  age  occupation    zip
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455

With this in hand, we can now ask what the gender of a particular user_id is like so:

In [61]:
user_id = 3
user_info.loc[user_id, 'gender']

'M'

### Collaborative-based filtering using implicit sim functions

Using the pandas aggregation framework we will build a collaborative filter that estimates ratings using an implicit `sim(u,u')` function to compare different users.

In [105]:
def collab_gender(user_id, movie_id):
    """ Collaborative filtering using an implicit sim(u,u') based on gender. """
    
    user_condition = movielens_train.user_id != user_id
    movie_condition = movielens_train.movie_id == movie_id
    ratings_by_others = movielens_train.loc[user_condition & movie_condition]
    if ratings_by_others.empty: 
        return 3.0
    
    means_by_gender = ratings_by_others.pivot_table('rating', index='movie_id', columns='gender')
    user_gender = user_info.loc[user_id, 'gender']
    if user_gender in means_by_gender.columns: 
        return means_by_gender.loc[movie_id, user_gender]
    else:
        return means_by_gender.loc[movie_id].mean()

print('RMSE for collab_gender: %s' % evaluate(collab_gender))

RMSE for collab_gender: 1.1953061054016687

At this point it seems worthwhile to write a `learn` function to pre-compute whatever datastructures we need at estimation time.

In [101]:
class CollabGenderReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_gender = movielens_train.pivot_table('rating', index='movie_id', columns='gender')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same gender. """
        
        if movie_id not in self.means_by_gender.index: 
            return 3.0
        
        user_gender = user_info.loc[user_id, 'gender']
        if ~np.isnan(self.means_by_gender.loc[movie_id, user_gender]):
            return self.means_by_gender.loc[movie_id, user_gender]
        else:
            return self.means_by_gender.loc[movie_id].mean()

reco = CollabGenderReco()
reco.learn()
print('RMSE for CollabGenderReco: %s' % evaluate(reco.estimate))

RMSE for CollabGenderReco: 1.1953061054016687

Break!!

## Mini-Challenge!

- Not a real challenge
- Focus on understanding the different versions of our minimal reco
- Try to mix and match some of the ideas presented to come up with a minimal reco of your own
- Evaluate it!

### Mini-Challenge: first round
Implement an `estimate` function of your own using other similarity notions, eg.:

- collaborative filter based on age similarities
- collaborative filter based on zip code similarities
- collaborative filter based on occupation similarities
- content filter based on movie genre

## Minimal reco engine v1.2: custom similarity functions

### A few similarity functions

These were all written to operate on two pandas Series, each one representing the rating history of two different users. You can also apply them to any two feature vectors that describe users or items. In all cases, the higher the return value, the more similar two Series are. You might need to add checks for edge cases, such as divisions by zero, etc.

- Euclidean 'similarity'

$$ sim(x,y) = \frac{1}{1 + \sqrt{\sum (x - y)^2}}$$

In [62]:
def euclidean(s1, s2):
    """Take two pd.Series objects and return their euclidean 'similarity'."""
    diff = s1 - s2
    return 1 / (1 + np.sqrt(np.sum(diff ** 2)))

- Cosine similarity

$$ sim(x,y) = \frac{(x . y)}{\sqrt{(x . x) (y . y)}} $$

In [63]:
def cosine(s1, s2):
    """Take two pd.Series objects and return their cosine similarity."""
    return np.sum(s1 * s2) / np.sqrt(np.sum(s1 ** 2) * np.sum(s2 ** 2))

- Pearson correlation

$$ sim(x,y) = \frac{(x - \bar x).(y - \bar y)}{\sqrt{(x - \bar x).(x - \bar x) * (y - \bar y)(y - \bar y)}} $$

In [170]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

- Jaccard similarity

$$ sim(x,y) = \frac{(x . y)}{(x . x) + (y . y) - (x . y)} $$

In [65]:
def jaccard(s1, s2):
    dotp = np.sum(s1 * s2)
    return dotp / (np.sum(s1 ** 2) + np.sum(s2 ** 2) - dotp)

def binjaccard(s1, s2):
    dotp = (s1.index & s2.index).size
    return dotp / (s1.sum() + s2.sum() - dotp)

### Collaborative-based filtering using custom sim functions

In [171]:
class CollabPearsonReco:
    """ Collaborative filtering using a custom sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.all_user_profiles = movielens.pivot_table('rating', index='movie_id', columns='user_id')

    def estimate(self, user_id, movie_id):
        """ Ratings weighted by correlation similarity. """
        
        user_condition = movielens_train.user_id != user_id
        movie_condition = movielens_train.movie_id == movie_id
        ratings_by_others = movielens_train.loc[user_condition & movie_condition]
        if ratings_by_others.empty: 
            return 3.0
        
        ratings_by_others.set_index('user_id', inplace=True)
        their_ids = ratings_by_others.index
        their_ratings = ratings_by_others.rating
        their_profiles = self.all_user_profiles[their_ids]
        user_profile = self.all_user_profiles[user_id]
        sims = their_profiles.apply(lambda profile: pearson(profile, user_profile), axis=0)
        ratings_sims = pd.DataFrame({'sim': sims, 'rating': their_ratings})
        ratings_sims = ratings_sims[ratings_sims.sim > 0]
        if ratings_sims.empty:
            return their_ratings.mean()
        else:
            return np.average(ratings_sims.rating, weights=ratings_sims.sim)
        
reco = CollabPearsonReco()
reco.learn()
print('RMSE for CollabPearsonReco: %s' % evaluate(reco.estimate))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

RMSE for CollabPearsonReco: 1.08629365954674

### Mini-Challenge: second round
Implement an `estimate` function of your own using other custom similarity notions, eg.:

- euclidean
- cosine

In [177]:
from functools import reduce
overall_mean = movielens_train['rating'].mean()

def my_est_func(user_id, movie_id):
    
    measures = [ (0.5, movielens_train.loc[(movielens_train.movie_id == movie_id)]),
                (0.5, movielens_train.loc[(reduce(np.logical_and,[movielens_train.gender == user_info.loc[user_id].gender,
                                                                 movielens_train.occupation == user_info.loc[user_id].occupation,
                                                                 abs(movielens_train.age - user_info.loc[user_id].age) < 6]))])
               ]
    print(measures)
    return sum((weight* (measure.empty and overall_mean or measure['rating'].mean())
               for weight, measure in measures))
#print('RMSE for CollabGenderReco: %s' % evaluate(my_est_func))

In [130]:
measures = [ (0.6, movielens_train.loc[(movielens_train.movie_id == 2841)]),
                (0.4, movielens_train.loc[(reduce(np.logical_and,[movielens_train.gender == users.loc[8].gender,
                                                                 movielens_train.occupation == users.loc[8].occupation,
                                                                 abs(movielens_train.age - users.loc[8].age) < 2]))])
               ]
measures

[(0.6,
         user_id  movie_id  rating   timestamp gender  age  occupation    zip  \
  41685      173         1       4   995304562      M   25           0  45237
  42486     2583         1       5   975118769      M   35           7  19610
  42352     2084         1       4   974682415      M   18           4  23186
  43318     4954         1       4   962638088      M   45           0  92679
  41784      482         1       2  1002083483      M   25          14  55305
  43413     5239         1       4   961444005      M   35           7  07043
  43677     5957         1       3   958404475      M   18          20  02038
  41876      736         1       3  1045710680      M   18          12  07070
  43313     4946         1       4   962642234      F   35           1  91106
  42167     1599         1       5   974732601      M   25           0  92646
  42172     1613         1       5   974732008      M   18          20  61801
  42358     2100         1       4   974670545      F   25           0  24017

                    title                       genres  for_testing
  41685  Toy Story (1995)  Animation|Children's|Comedy        False
  42486  Toy Story (1995)  Animation|Children's|Comedy        False
  42352  Toy Story (1995)  Animation|Children's|Comedy        False
  43318  Toy Story (1995)  Animation|Children's|Comedy        False
  41784  Toy Story (1995)  Animation|Children's|Comedy        False
  43413  Toy Story (1995)  Animation|Children's|Comedy        False
  43677  Toy Story (1995)  Animation|Children's|Comedy        False
  41876  Toy Story (1995)  Animation|Children's|Comedy        False
  43313  Toy Story (1995)  Animation|Children's|Comedy        False
  42167  Toy Story (1995)  Animation|Children's|Comedy        False
  42172  Toy Story (1995)  Animation|Children's|Comedy        False
  42358  Toy Story (1995)  Animation|Children's|Comedy        False  ),
 (0.4,
          user_id  movie_id  rating   timestamp gender  age  occupation    zip  \
  71261      1099      1210       4   974924435      M   25          17  77059
  986952     3626      3544       2   966604704      M   25          17  75075
  372798     5543      3246       3   960127735      M   25          17  97401
  459713     3414       329       4   967407190      M   25          17  75146
  130220     3824      1196       4   965940231      M   25          17  32308
  255631      474      1268       3   976239004      M   25          17  92126
  50297      3556      1028       4   966806126      M   25          17  03038
  528196     5138      2011       2   962061832      M   25          17  35205
  313309     3626       497       4   966593951      M   25          17  75075
  159447     3556       349       2   966807307      M   25          17  03038
  465510     5026      2094       2   962581001      M   25          17  92584
  863141     1260      3251       4   976137484      M   25          17  28262
  31934      3022      1721       3   970497521      M   25          17  78730
  994234     3824      3691       1   966540717      M   25          17  32308
  14434       223      2918       3   976903734      M   25          17  28262
  355724     3870      1393       5   965846375      M   25          17  95050
  816404      780      2565       5   975543427      M   25          17  91776
  845835     4258      3480       4  1038333409      M   25          17  19711
  359800     2424      1476       5   974687975      M   25          17  95035
  334920      792      3753       3   975422680      M   25          17  01002
  324924     5002      2406       4   962592602      M   25          17  90505
  955751      424      1889       4  1040775849      M   25          17  55112
  442638     3615      2140       1   966603151      M   25          17  76028
  210433     5002      2115       3   962592207      M   25          17  90505
  632697     3824      3032       2   970245834      M   25          17  32308
  255353     5138       377       2   962061002      M   25          17  35205
  823990     1333      2344       4   974777742      M   25          17  06460
  654248     4258      1186       3  1002899147      M   25          17  19711
  362174      398      2712       4  1044565595      M   25          17  55454
  694649     4011      2160       5   965543085      M   25          17  85210
  ...         ...       ...     ...         ...    ...  ...         ...    ...
  604329     5026      1608       3   962580270      M   25          17  92584
  55176      5026       531       3   962579529      M   25          17  92584
  358232     1333       650       2   974851937      M   25          17  06460
  943006      223      3791       3   976906034      M   25          17  28262
  350610     3684      1573       4   966350143      M   25          17  83713
  684419     1260      1094       3   974926874      M   25          17  28262
  196518     2307      1580       4   974488409      M   25          17  02140
  849266      765      3697       3   975450969      M   25          17  74467
  492054      780      1967       4   975437801      M   25          17  91776
  70364      1260      3468       5   974926475      M   25          17  28262
  543995     5543      2393       4   959510128      M   25          17  97401
  368292     3099      1274       2   969594819      M   25          17  20910
  549339     3824      1234       4   991943135      M   25          17  32308
  713853     4959      2150       5   962637311      M   25          17  23454
  215344     4615      1214       4   964141998      M   25          17  61615
  553537      424      3928       4  1017242607      M   25          17  55112
  485803     3005      3701       4   970569300      M   25          17  94133
  213905      377      1214       3   976302265      M   25          17  55418
  226368      853      2987       5   975348114      M   25          17  55447
  192519      424      1291       4  1016723299      M   25          17  55112
  660193      132      3526       5   977428886      M   25          17  99709
  368282     3005      1274       2   970569082      M   25          17  94133
  93980      3626      3255       4   966595514      M   25          17  75075
  110456      117      1225       4   977495516      M   25          17  33314
  100221     1260      1834       4   977240120      M   25          17  28262
  755825      424      2144       4  1016725994      M   25          17  55112
  128847      996      1196       5   975052479      M   25          17  98102
  444632      765      2078       4   975453912      M   25          17  74467
  326818      566      1030       2   976210065      M   25          17  92122
  888311     3824      2232       4   970246104      M   25          17  32308

                                                      title  \
  71261   Star Wars: Episode VI - Return of the Jedi (1983)
  986952                            Shakes the Clown (1991)
  372798                                   Malcolm X (1992)
  459713                      Star Trek: Generations (1994)
  130220  Star Wars: Episode V - The Empire Strikes Back...
  255631                          Pump Up the Volume (1990)
  50297                                 Mary Poppins (1964)
  528196                  Back to the Future Part II (1989)
  313309                      Much Ado About Nothing (1993)
  159447                    Clear and Present Danger (1994)
  465510                              Rocketeer, The (1991)
  863141                                Agnes of God (1985)
  31934                                      Titanic (1997)
  994234                              Private School (1983)
  14434                     Ferris Bueller's Day Off (1986)
  355724                               Jerry Maguire (1996)
  816404                             King and I, The (1956)
  845835                                       Lucas (1986)
  359800                               Private Parts (1997)
  334920                                Patriot, The (2000)
  324924                         Romancing the Stone (1984)
  955751                                    Insomnia (1997)
  442638                           Dark Crystal, The (1982)
  210433        Indiana Jones and the Temple of Doom (1984)
  632697                              Omega Man, The (1971)
  255353                                       Speed (1994)
  823990                               Runaway Train (1985)
  654248                    Sex, Lies, and Videotape (1989)
  362174                              Eyes Wide Shut (1999)
  694649                             Rosemary's Baby (1968)
  ...                                                   ...
  604329                               Air Force One (1997)
  55176                           Secret Garden, The (1993)
  358232                               Moll Flanders (1996)
  943006                                   Footloose (1984)
  350610                                    Face/Off (1997)
  684419                            Crying Game, The (1992)
  196518                                Men in Black (1997)
  849266                                  Predator 2 (1990)
  492054                                   Labyrinth (1986)
  70364                                 Hustler, The (1961)
  543995                     Star Trek: Insurrection (1998)
  368292                                       Akira (1988)
  549339                                  Sting, The (1973)
  713853                     Gods Must Be Crazy, The (1980)
  215344                                       Alien (1979)
  553537       Abbott and Costello Meet Frankenstein (1948)
  485803                                Alien Nation (1988)
  213905                                       Alien (1979)
  226368                    Who Framed Roger Rabbit? (1988)
  192519          Indiana Jones and the Last Crusade (1989)
  660193                                  Parenthood (1989)
  368282                                       Akira (1988)
  93980                       League of Their Own, A (1992)
  110456                                     Amadeus (1984)
  100221                       Spanish Prisoner, The (1997)
  755825                             Sixteen Candles (1984)
  128847  Star Wars: Episode V - The Empire Strikes Back...
  444632                            Jungle Book, The (1967)
  326818                               Pete's Dragon (1977)
  888311                                        Cube (1997)

                                          genres  for_testing
  71261      Action|Adventure|Romance|Sci-Fi|War        False
  986952                                  Comedy        False
  372798                                   Drama        False
  459713                 Action|Adventure|Sci-Fi        False
  130220       Action|Adventure|Drama|Sci-Fi|War        False
  255631                                   Drama        False
  50297                Children's|Comedy|Musical        False
  528196                           Comedy|Sci-Fi        False
  313309                          Comedy|Romance        False
  159447               Action|Adventure|Thriller        False
  465510                 Action|Adventure|Sci-Fi        False
  863141                           Drama|Mystery        False
  31934                            Drama|Romance        False
  994234                                  Comedy        False
  14434                                   Comedy        False
  355724                           Drama|Romance        False
  816404                                 Musical        False
  845835                                   Drama        False
  359800                            Comedy|Drama        False
  334920                        Action|Drama|War        False
  324924         Action|Adventure|Comedy|Romance        False
  955751                                Thriller        False
  442638               Children's|Fantasy|Sci-Fi        False
  210433                        Action|Adventure        False
  632697                                  Sci-Fi        False
  255353                 Action|Romance|Thriller        False
  823990         Action|Adventure|Drama|Thriller        False
  654248                                   Drama        False
  362174                                   Drama        False
  694649                         Horror|Thriller        False
  ...                                        ...          ...
  604329                         Action|Thriller        False
  55176                         Children's|Drama        False
  358232                                   Drama        False
  943006                                   Drama        False
  350610                  Action|Sci-Fi|Thriller        False
  684419                       Drama|Romance|War        False
  196518          Action|Adventure|Comedy|Sci-Fi        False
  849266                  Action|Sci-Fi|Thriller        False
  492054            Adventure|Children's|Fantasy        False
  70364                                    Drama        False
  543995                           Action|Sci-Fi        False
  368292     Adventure|Animation|Sci-Fi|Thriller        False
  549339                            Comedy|Crime        False
  713853                                  Comedy        False
  215344           Action|Horror|Sci-Fi|Thriller        False
  553537                           Comedy|Horror        False
  485803                      Crime|Drama|Sci-Fi        False
  213905           Action|Horror|Sci-Fi|Thriller        False
  226368           Adventure|Animation|Film-Noir        False
  192519                        Action|Adventure        False
  660193                            Comedy|Drama        False
  368282     Adventure|Animation|Sci-Fi|Thriller        False
  93980                             Comedy|Drama        False
  110456                                   Drama        False
  100221                          Drama|Thriller        False
  755825                                  Comedy        False
  128847       Action|Adventure|Drama|Sci-Fi|War        False
  444632     Animation|Children's|Comedy|Musical        False
  326818  Adventure|Animation|Children's|Musical        False
  888311                         Sci-Fi|Thriller        False

  [162 rows x 11 columns])]

In [133]:
sum((weight* (measure.empty and overall_mean or measure['rating'].mean())
               for weight, measure in measures))

3.7648148148148146

In [141]:
users.tail()

        gender  age  occupation    zip
user_id
6036         F   25          15  32603
6037         F   45           1  76006
6038         F   56           1  14706
6039         F   45           0  01060
6040         M   25           6  11106

In [184]:
ids_to_estimate = (2841, 1263)
print(type(ids_to_estimate))
estimated = my_est_func(2841,1263)
print(estimated)
real = moviekemovielens_test.user_id == 2841
#compute_rmse(estimated, real)

<class 'tuple'>
[(0.5,         user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
586795     1836      1263       5  974825510      M   25           0  10016
587206     5097      1263       5  962373382      M   56          16  19131
586820     2018      1263       4  974673896      M   35          16  46214
587306     6040      1263       3  957717463      M   25           6  11106
586908     2818      1263       3  972668116      M   25          12  55106

                          title     genres  for_testing
586795  Deer Hunter, The (1978)  Drama|War        False
587206  Deer Hunter, The (1978)  Drama|War        False
586820  Deer Hunter, The (1978)  Drama|War        False
587306  Deer Hunter, The (1978)  Drama|War        False
586908  Deer Hunter, The (1978)  Drama|War        False  ), (0.5,         user_id  movie_id  rating   timestamp gender  age  occupation    zip  \
746861     2203      2410       4   974604943      M   45          12  53718
214522     2302      1214       5   974494612      M   50          12  48104
613767     2754      2961       4   973196390      M   50          12  60148
935525     2841      3118       4   983745773      M   50          12  98056
125028     2304      2353       3   974498121      M   45          12  94103
770885     2304      3614       3   974503407      M   45          12  94103
546434     4942      1230       4   962642771      M   45          12  40515
515382     2348      1204       3   974412577      M   50          12  06082
876854     2304       996       4   974512605      M   45          12  94103
477244     1985      1377       3   974685010      M   45          12  92122
890448      445      1623       2   976241957      M   45          12  55117
354258     2841      2336       4  1022086876      M   50          12  98056
6635       1985      1197       3   974684317      M   45          12  92122
786982     2304       467       4   974503631      M   45          12  94103
527656     2304      2011       3   974496233      M   45          12  94103
922591     1985      2672       3   974683930      M   45          12  92122
903924     4942      2788       5   962643752      M   45          12  40515
304311     2304      2395       4   974495300      M   45          12  94103
488794     2203       784       3   974609712      M   45          12  53718
57736      2304       608       5   974505020      M   45          12  94103
99646      2304      2490       4   974495164      M   45          12  94103
644711     4942      1077       4   962641967      M   45          12  40515
823463     2348      3204       3   974504067      M   50          12  06082

                                                    title  \
746861                                   Rocky III (1982)
214522                                       Alien (1979)
613767                            Story of Us, The (1999)
935525                                 Tumbleweeds (1999)
125028                          Enemy of the State (1998)
770885                          Honeymoon in Vegas (1992)
546434                                  Annie Hall (1977)
515382                          Lawrence of Arabia (1962)
876854                           Last Man Standing (1996)
477244                              Batman Returns (1992)
890448                                  Wishmaster (1997)
354258                                   Elizabeth (1998)
6635                           Princess Bride, The (1987)
786982                             Live Nude Girls (1995)
527656                  Back to the Future Part II (1989)
922591                       Thirteenth Floor, The (1999)
903924  And Now for Something Completely Different (1971)
304311                                    Rushmore (1998)
488794                              Cable Guy, The (1996)
57736                                        Fargo (1996)
99646                                      Payback (1999)
644711                                     Sleeper (1973)
823463                       Boys from Brazil, The (1978)

                                 genres  for_testing
746861                     Action|Drama        False
214522    Action|Horror|Sci-Fi|Thriller        False
613767                     Comedy|Drama        False
935525                            Drama        False
125028                  Action|Thriller        False
770885                   Comedy|Romance        False
546434                   Comedy|Romance        False
515382                    Adventure|War        False
876854             Action|Drama|Western        False
477244    Action|Adventure|Comedy|Crime        False
890448                           Horror        False
354258                            Drama        False
6635    Action|Adventure|Comedy|Romance        False
786982                           Comedy        False
527656                    Comedy|Sci-Fi        False
922591            Drama|Sci-Fi|Thriller        False
903924                           Comedy        False
304311                           Comedy        False
488794                           Comedy        False
57736              Crime|Drama|Thriller        False
99646                   Action|Thriller        False
644711                    Comedy|Sci-Fi        False
823463                         Thriller        False  )]
3.8260869565217392

In [176]:
movielens_train[movielens_train.user_id == 2841]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
935525,2841,3118,4,983745773,M,50,12,98056,Tumbleweeds (1999),Drama,False
354258,2841,2336,4,1022086876,M,50,12,98056,Elizabeth (1998),Drama,False

## References and further reading

- Goldberg, D., D. Nichols, B. M. Oki, and D. Terry. Using Collaborative Filtering to Weave an Information Tapestry. Communications of the ACM 35, no. 12 (1992): 6170.
- Resnick, Paul, and Hal R. Varian. Recommender Systems. Commun. ACM 40, no. 3 (March 1997): 5658. doi:10.1145/245108.245121.
- Adomavicius, Gediminas, and Alexander Tuzhilin. Toward the Next Generation of Recommender Systems: A Survey of the State-of-the-Art and Possible Extensions. IEEE Transactions on Knowledge and Data Engineering 17, no. 6 (2005): 734749. doi:http://doi.ieeecomputersociety.org/10.1109/TKDE.2005.99.
- Adomavicius, Gediminas, Ramesh Sankaranarayanan, Shahana Sen, and Alexander Tuzhilin. Incorporating Contextual Information in Recommender Systems Using a Multidimensional Approach. ACM Trans. Inf. Syst. 23, no. 1 (2005): 103145. doi:10.1145/1055709.1055714.
- Koren, Y., R. Bell, and C. Volinsky. Matrix Factorization Techniques for Recommender Systems. Computer 42, no. 8 (2009): 3037.
- William Wesley McKinney. Python for Data Analysis. OReilly, 2012.
- Toby Segaran. Programming Collective Intelligence. OReilly, 2007.
- Zhou, Tao, Zoltan Kuscsik, Jian-Guo Liu, Matus Medo, Joseph R Wakeling, and Yi-Cheng Zhang. Solving the Apparent Diversity-accuracy Dilemma of Recommender Systems. arXiv:0808.2670 (August 19, 2008). doi:10.1073/pnas.1000488107.
- Shani, G., D. Heckerman, and R. I Brafman. An MDP-based Recommender System. Journal of Machine Learning Research 6, no. 2 (2006): 1265.
- Joseph A. Konstan, John Riedl. "Deconstructing Recommender Systems." IEEE Spectrum, October 2012.